# Google Maps Static API key (restrinja por referrer/IP no Console)
MAPS_KEY=AIzaSy...

# Token de autenticação para o GAS doPost
GAS_TOKEN=CSg1u5eG8mqbAf3IPH4XIgRLahxh71etkACmh711kp8PIQL64rUiG3JmWrxihwwU

# URL do Web App GAS (obtenha em Implantar > Gerenciar implantações)
GAS_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec

# Porta local
PORT=3000
